<?xml version='1.0' encoding='UTF-8'?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{.MainModule.GroupId}}</groupId>
  <artifactId>{{.MainModule.ArtifactId}}-bom</artifactId>
  <version>{{.MainModule.Version}}</version><!-- {x-version-update:{{.MainModule.ArtifactId}}:current} -->
  <packaging>pom</packaging>
  <parent>
    <groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-pom-parent</artifactId>
    <version>1.72.0</version>
  </parent>

  <name>{{.Name}} BOM</name>
  <description>
    BOM for {{.Name}}
  </description>

  <properties>
    <maven.antrun.skip>true</maven.antrun.skip>
  </properties>

  <dependencyManagement>
    <dependencies>
    {{- range .Modules }}
      <dependency>
        <groupId>{{.GroupId}}</groupId>
        <artifactId>{{.ArtifactId}}</artifactId>
        <version>{{.Version}}</version><!-- {x-version-update:{{.ArtifactId}}:current} -->
      </dependency>
    {{- end }}
    </dependencies>
  </dependencyManagement>
</project>