<?xml version='1.0' encoding='UTF-8'?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{.MainModule.GroupId}}</groupId>
  <artifactId>{{.MainModule.ArtifactId}}-parent</artifactId>
  <packaging>pom</packaging>
  <version>{{.MainModule.Version}}</version><!-- {x-version-update:{{.MainModule.ArtifactId}}:current} -->
  <name>{{.Name}} Parent</name>
  <description>
    Java idiomatic client for Google Cloud Platform services.
  </description>

  <parent>
    <groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-jar-parent</artifactId>
    <version>1.72.0</version>
  </parent>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
    <github.global.server>github</github.global.server>
    <site.installationModule>{{.MainModule.ArtifactId}}-parent</site.installationModule>
  </properties>

  <dependencyManagement>
    <dependencies>
{{- range .Modules }}
      <dependency>
        <groupId>{{.GroupId}}</groupId>
        <artifactId>{{.ArtifactId}}</artifactId>
        <version>{{.Version}}</version><!-- {x-version-update:{{.ArtifactId}}:current} -->
      </dependency>
{{- end }}
    </dependencies>
  </dependencyManagement>

  <modules>
{{- range .Modules }}
    <module>{{.ArtifactId}}</module>
{{- end }}
    <module>{{.MainModule.ArtifactId}}-bom</module>
  </modules>

</project>